* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline-color: $accent-color;
    outline: 1 !important;
  }

  scrollbar-color: #6969dd #e0e0e0 !important;
  scrollbar-width: thin !important;
}

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin postsFont($size, $color, $weight) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin inputsFont($size, $color) {
  font-family: 'Inter', sans-serif;
  font-size: $size;
  color: $color;
}

@mixin responsive($px) {
  @media (max-width: $px) {
    @content;
  }
}
