header {
  div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    a {
      font-size: 20px;
      margin-top: 16px;
      color: $text;

      &:hover {
        color: $text-muted-1;
        @include transition;
      }
    }
  }
}

#navbar-header {
  margin-bottom: 15px;
  @include responsive($small) {
    align-items: center;
    flex-direction: column;
  }
}

nav {
  ul {
    list-style-type: none;
    display: flex;
    overflow-x: auto !important;

    li {
      padding-bottom: 10px;

      a,
      #tags > a {
        margin-right: 30px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $text-muted-1;
        white-space: nowrap;

        &:hover {
          color: $text;
          @include transition;
        }
      }
    }
  }
}

.active-page {
  color: $text !important;
}
