#feature-section {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lighten($text, 80%);
  padding-bottom: 20px;
  width: 80vw;
  @include responsive($large) {
    flex-wrap: wrap;
  }

  .feature-post {
    padding: 20px;
    width: 350px;
    @include responsive($large) {
      order: 1;
    }

    @include responsive($medium) {
      width: 80vw;
    }

    .heading {
      padding-top: 15px;
      padding-bottom: 15px;

      a {
        @include postsFont(26px, $text, 500);
        @include transition;
        border-bottom: 1px solid transparent;

        &:hover {
          color: lighten($text, 30%);
          border-bottom: 1px solid lighten($text, 30%);
        }
      }
    }

    span {
      @include postsFont(15px, $text-muted-1, 500);
    }

    .image-featured {
      height: 200px;
    }

    .credits {
      margin-top: 15px;

      h5 {
        @include postsFont(15px, $text-muted-2, 500);
      }
    }
  }

  #featured-posts {
    padding: 20px;
    @include responsive($large) {
      order: 2;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }

    .feature-post-small {
      display: flex;
      justify-content: start;
      margin-bottom: 20px;
      width: 350px;

      @include responsive($large) {
        width: 600px;
      }

      @include responsive($medium) {
        width: 80vw;
      }

      .heading {
        a {
          @include postsFont(18px, $text, 500);
          @include transition;
          border-bottom: 1px solid transparent;
          cursor: pointer;

          &:hover {
            color: lighten($text, 30%);
            border-bottom: 1px solid lighten($text, 30%);
          }
        }
      }

      .image-featured {
        height: 100px;
        width: 100px;
        min-height: 100px;
        min-width: 100px;
        margin-right: 15px;
        @include responsive($large) {
          width: 160px;
        }
        @include responsive($medium) {
          width: 150px;
        }
        @include responsive($small) {
          width: 100px;
        }
      }

      span {
        @include postsFont(15px, $text-muted-1, 500);
      }

      .credits {
        margin-top: 15px;

        h5 {
          @include postsFont(15px, $text-muted-2, 500);
        }
      }
    }
  }
}

#regular-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  .regular-post {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 80vw;
    padding: 20px;

    @include responsive($small) {
      flex-direction: column;
      align-items: center;
    }

    .heading {
      padding-top: 15px;
      padding-bottom: 15px;
      a {
        @include postsFont(26px, $text, 500);
        @include transition;
        border-bottom: 1px solid transparent;
        cursor: pointer;

        &:hover {
          color: lighten($text, 30%);
          border-bottom: 1px solid lighten($text, 30%);
        }
      }
    }

    span {
      @include postsFont(15px, $text-muted-1, 500);
    }

    .image-featured {
      resize: none;
      width: 150px;
      height: 150px;
      min-width: 150px;
      min-height: 150px;
      margin-left: 15px;

      @include responsive($small) {
        width: 75vw;
      }
    }

    span {
      @include postsFont(15px, $text-muted-1, 500);
    }

    .credits {
      margin-top: 15px;

      h5 {
        @include postsFont(15px, $text-muted-2, 500);
      }
    }
  }
}
