.post-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;

  @include responsive($large) {
    width: 100%;
  }

  .image-container {
    width: 80%;
    height: 50vh;
  }

  .data-container {
    margin-top: 20px;
    display: flex;
    width: 90%;

    @include responsive($medium) {
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
    }

    .info-post {
      width: 30%;
      display: flex;
      flex-direction: column;
      padding: 10px;

      @include responsive($medium) {
        width: 100%;
        order: 2;
      }

      .info {
        margin-bottom: 15px;
        i {
          margin-right: 10px;
        }
        span {
          @include inputsFont(17px, $text);
        }
      }
    }

    .data {
      width: 70%;
      padding: 10px;

      @include responsive($medium) {
        width: 100%;
        order: 1;
      }

      p {
        @include inputsFont(17px, $text);
      }
    }
  }

  .heading {
    width: 80%;

    h1 {
      margin-top: 20px;
      margin-bottom: 10px;
      @include postsFont(35px, $text, 700);
    }
  }
}
