#btn-menu {
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;

  h1 {
    @include postsFont(30px, $text, 500);
    margin-bottom: 10px;
  }

  .active {
    background-color: $accent-color;
    color: $background;
  }
}

.btn-outline {
  @include inputsFont(14px, $accent-color);
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $accent-color;
  border-radius: 10px;
  @include transition;

  i {
    margin-right: 10px;
  }

  &:hover {
    background-color: $accent-color;
    color: $background;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;

  #posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
    grid-gap: 16px;
    padding: initial;
    justify-content: center;
    width: 90%;

    .post-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 10px;
      width: 200px;
      height: 250px;
      border: 1px solid lighten($text, 80%);

      .image-featured {
        width: 100%;
        height: 55%;
        background-color: gray;

        h5 {
          @include postsFont(14px, $text, 500);
          padding: 5px 10px 5px 10px;
        }
      }

      .btn-group {
        display: flex;
        background-color: gray;

        button {
          width: 100%;
          cursor: pointer;
          background-color: white;
          padding: 10px 20px 10px 20px;
          color: $accent-color;
          border: 0;
          @include transition;

          &:hover {
            color: darken($accent-color, 10%);
          }
        }
      }
    }
  }

  #manage-post {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-row {
      display: flex;
      justify-content: center;

      @include responsive($large) {
        flex-wrap: wrap;
      }
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 7px;
  width: 100% !important;

  label {
    @include inputsFont(16px, $text);
    margin-bottom: 8px;
    color: lighten($text, 40%);
    padding-left: 5px;

    i {
      margin-right: 10px;
    }
  }

  .custom-input {
    @include inputsFont(16px, $text);
    padding: 10px 20px 10px 20px;
    border: 1px solid lighten($text, 80%);
    border-radius: 5px;
    color: lighten($text, 20%);

    &:focus {
      outline: 0;
    }
  }
}
