@import 'variables', 'config', 'navbar', 'posts', 'settings', 'post';

body {
  padding: 10px 50px 10px 50px;
}

#home-button {
  //margin-bottom: 20px;

  a {
    @include postsFont(25px, $text, 500);
    cursor: pointer;
    @include transition;

    &:hover {
      color: lighten($text, 30%);
    }
  }
}

.btn {
  @include postsFont(16px, $background, 700);
  padding: 15px 40px 15px 40px;
  cursor: pointer;
  background-color: $accent-color;
  border: 0;
  border-radius: 16px;
  @include transition;

  &:hover {
    background-color: lighten($accent-color, 30%);
    color: $accent-color;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.error {
  @include inputsFont(14px, rgb(236, 0, 0));
  color: red !important;
  font-weight: 300;
  margin-top: 5px;
}

.message {
  margin-top: 40px;
  @include postsFont(25px, $text, 500);
}

.btn-div {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
